@model List<sklep.Models.User>

@using System.Collections.Generic
@using System.Linq

@{
    ViewData["Title"] = "Dodawanie uprawnień";
}

<h2>@ViewData["Title"]</h2>
@Html.ActionLink("Odbieranie uprawnień", "RmRole", "Account")

<div class="row">
    <div class="col-md-4">
        <section>
            <form method="post">
                <h3>Dodaj uprawnienia dla użytkownika:</h3>
                <select name="email">
                    @foreach (var i in ViewData["emails"] as IEnumerable<string>) {
                        @if (!i.Equals("admin@email.com")) {
                            <option>@i</option>
                        }
                    }
                </select>
                <input type="submit" value="Dodaj" />
            </form>
        </section>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <h3>Administratorzy:</h3>
        <ul>
            @foreach (var item in Model) {
                <li>@item.Email</li>
            }
        </ul>
    </div>
</div>
