@model List<sklep.Models.User>

@using System.Collections.Generic
@using System.Linq

@{
    ViewData["Title"] = "Odbieranie uprawnień";
}

<h2>@ViewData["Title"]</h2>
@Html.ActionLink("Dodawanie uprawnień", "AddRole", "Account")

<div class="row">
    <div class="col-md-4">
        <section>
            <form method="post">
                <h3>Odbierz uprawnienia użytkownikowi:</h3>
                <select name="email">
                    @foreach (var i in Model) {
                        @if (!i.Email.Equals("admin@email.com")) {
                            <option>@i.Email</option>
                        }
                    }
                </select>
                <input type="submit" value="Usuń" />
            </form>
        </section>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <h3>Administratorzy:</h3>
        <ul>
            @foreach (var item in Model) {
                <li>@item.Email</li>
            }
        </ul>
    </div>
</div>
